{{#each this}}
  <li style='list-style:none; font-size: 18px; font-weight:500'><img
      src='{{this.flags.svg}}'
      width='5%'
      height='auto'
      alt='{{this.name.official}}'
      style='vertical-align: middle; margin: 3px;'
    />{{this.name.official}}</li>
{{/each}}